.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.9);
}

.modalContent {
    padding: 15px;
    background: bisque;
    border-radius: 16px;
    min-width: 50%;
}

.modal.active {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}